@font-face{font-family:'Inter';font-weight:400;src:url(Inter-400.ttf) format('truetype')}
@font-face{font-family:'Inter';font-weight:500;src:url(Inter-500.ttf) format('truetype')}
@font-face{font-family:'JetBrains Mono';font-weight:500;src:url(JetBrainsMono-500.ttf) format('truetype')}
@font-face{font-family:'Outfit';font-weight:600;src:url(Outfit-600.ttf) format('truetype')}
@font-face{font-family:'Outfit';font-weight:800;src:url(Outfit-800.ttf) format('truetype')}
